.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__/
*.py[cod]
*$py.class

build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg*
MANIFEST

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.python-version

.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea

.vscode

*_cache
.ropeproject
